<section class="general-conditions-section">
  <!-- BACK TO PAGE -->
  <div class="back-top-page">
    <a (click)="backNavigation()">
      <img src="/assets/img/icons/back-arrow.svg" alt="arrow" />
      <span>Home</span>
    </a>
  </div>
  <div class="page-wrapper">
    <div class="top-wrapper">
      <h2>General Conditions of Sale</h2>

      <h3>1. Object, Company identity and contact information.</h3>

      <p>These Terms and Conditions are intended to regulate the relationship between SOULANDSOUL.COM, company of
        Saudi nationality, residing in India , and Customer (hereinafter the Customer), concerning all
        transactions through the our website.</p>
    </div>

    <div class="pointer">
      <h3>2. Applicability of the general conditions of sale</h3>
      <p>Each order placed on the website TCHOO through the Internet shall be governed by
        these Terms and Conditions. By placing an order, you acknowledge that you have read, understood and
        accepted, without reservation, these General Conditions of Sale, so we remind the convenience that read in
        detail.</p>
      <p>The TCHOO reserves the right to modify these Terms and Conditions by posting on this page for an updated
        version of them, which will apply to all orders that are subsequently made at the time the TCHOO publish
        the new version of its General Conditions of Sale on the website.</p>
    </div>

    <div class="pointer">
      <h3>3. Requests</h3>
      <p>By placing an order through this website, the client makes a request to buy the products you have selected
        under these General Conditions of Sale.</p>
      <p>The products are offered on this website within the limits of the quantities available. Should your order
        exceed stocks, you would be informed forthwith.</p>
    </div>

    <div class="pointer">
      <h3>4. Order Confirmations</h3>
      <p>With the acceptance of these Terms and Conditions, orders placed over the Internet and confirmed by The
        TCHOO constitute a binding and fully effective contract between the parties. The TCHOO reserves the
        right to refuse orders for reasons of force majeure or in the event of default. The information recorded by
        TCHOO is absolute proof of the order and the entire transaction. The information recorded by the payment
        system constitutes absolute proof of financial transactions. If the product did not meet with contracted
        available, immediately inform Customer who is integrated in the amount paid less than fourteen (14) days
        from the communication term. In connection with the provisions of the previous point, The TCHOO may
        offer no price increase, a product of similar characteristics that have the same or higher quality. In this
        case, the Customer may also exercise their rights of withdrawal and resolution in the same terms as if they
        were good initially required.</p>
    </div>

    <div class="pointer">
      <h3>5. Prices</h3>
      <p>The prices payable for the items Customer requests are those displayed on this website at the time the
        Customer places the order, and detailed confirmation thereof, including VAT or any other tax enforcement,
        shipping or any other. In addition, You may see prices of products The TCHOO on the website of
        TCHOO: www.soulandsoul.com</p>
      <p>The corresponding shipping charge will be billed based on the published rates on this website at the time the
        Customer places the order, calculated especially depending on the size of the order and the delivery method
        the customer has selected, being Customer duly informed of these amounts before applying the order.</p>
    </div>

    <div class="pointer">
      <h3>6. Delivery</h3>
      <p>All TCHOO confirmed orders will be delivered to the delivery address the customer specified when ordering
        and the time period linked to the service chosen by the customer and will be confirmed with your order.
        Deliveries of orders can only be made in specified geographic areas on this website. Should the delivery of
        the order could not be performed for reasons beyond TCHOO, The TCHOO will attempt to contact the
        customer to agree on a new date and place of delivery. If the delivery could not be effected, the order will
        be returned to the warehouses of TCHOO and from that moment he shall pay in full the amounts received by
        the Customer within fourteen (14) calendar days.</p>
    </div>

    <div class="pointer">
      <h3>7. Verification of the goods</h3>
      <p>Please note that the Customer is responsible for verifying the quantity, condition and status of the goods at
        the time when this will be delivered. If you notice any damage to the product or merchandise is incomplete,
        the customer can contact and notify TCHOO within 14 days following the delivery of your order. Once
        certified by TCHOO that the defect comes from some attributable to the same cause, the company will
        replace such goods without charge.</p>
    </div>

    <div class="pointer">
      <h3>8. Returns</h3>
      <p>The client can exercise the right to return only nonfood items only possible to return within 7 days in new
        condition.</p>
    </div>

    <div class="pointer">
      <h3>9. Payments</h3>
      <p>Payments made by credit card will be charged once the customer receives mail confirmation of his order. The
        details of his credit card will be encoded for security reasons.</p>
    </div>

    <div class="pointer">
      <h3>10. Legal guarantee of products</h3>
      <p>The products are guaranteed in accordance with the specific terms and conditions detailed in the product
        documentation. Please refer to this documentation for details on product warranty and the use, operation and
        maintenance of brand products TCHOO. Food products offered under the brand TCHOO l have successfully
        passed all quality controls required by applicable law.</p>
    </div>

    <div class="pointer">
      <h3>11. Language</h3>
      <p>he language in the concluded contract between TCHOO and the Customer is English.</p>
    </div>

    <div class="pointer">
      <h3>12. Force Mayor</h3>
      <p>The TCHOO guarantees the quality of the products contracted through its website. They are guaranteed all
        the rights that the laws in force grants to consumers and users. The TCHOO will make every reasonable
        effort to fulfill its obligations. However, The TCHOO cannot be responsible for delays or failure to
        deliver caused by circumstances beyond its reasonable control. Such circumstances include strikes, wars,
        natural disasters or any other situation that may prevent the production, transportation or delivery of
        products. In case of delays, The TCHOO carry out its obligations as soon as reasonably possible, and
        reserves the right to fill any remaining product among its customers fairly and reasonably.</p>
    </div>

    <div class="pointer">
      <h3>13. Code of Conduct</h3>
      <p>The TCHOO believes that its business and the achievement of its objectives should be achieved while
        respecting its commitment to corporate citizenship so has a Code of Conduct whose mission is to ensure the
        values that govern all our business operations and commitment to the law. You can access it by requesting it
        through our mail villiyantgroup.com</p>
    </div>

    <div class="pointer">
      <h3>14. Customer Responsibilities</h3>
      <p>The Customer undertakes to make proper use of the services and products offered by TCHOO, without
        contravening the law or infringe the rights and interests of third parties. The Client guarantees the
        accuracy of the information provided during the purchase, avoiding causing damage to TCHOO product of
        the incorrectness of them. Customer agrees to pay the price of contracted products. Failure to comply with
        any of these Terms of Sale may result in the rejection of the request by TCHOO without prior notice to
        Customer and without giving right to compensation.</p>
    </div>

    <div class="pointer">
      <h3>15. Applicable law and forum</h3>
      <p>These Terms and Conditions are governed by Kingdom of India law and any conflict or discrepancy in the
        interpretation or application thereof to the courts which, where appropriate, provided the applicable legal
        rules on jurisdiction will be submitted, in which it serves, in the case of final consumers, the place of
        performance of the obligation or of the consumer. In the event that the Customer concerned a company, both
        parties submit, expressly any other jurisdiction, to the Courts and Tribunals
      </p>
    </div>

    <div class="pointer">
      <h3>16. Personal information</h3>
      <p>Personal data that You provide us are necessary and required for maintenance and performance of the
        contractual relationship established with soulandsoul.com . Therefore, the customer is informed that their
        data will be stored in a file called "Clients soulandsoul.com" which is responsible SOULANDSOUL.COM, and
        will be treated in order to manage the billing and collection of purchased products and, shipping the
        TCHOO products that the Customer has requested, the transfer of commercial information on products and
        services of the TCHOO, and their rates, discounts and promotions. They may also be used to give you
        treat opinion polls and for statistical and market trend analysis. Customer may at any time exercise their
        rights of access.</p>
    </div>

    <div class="pointer">
      <p>SOULANDSOUL.COM, 2021</p>
    </div>
  </div>
</section>
