.splash-screen-section {
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/img/account/splash-screen.png");

  .logo {
    top: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);

    img {
      width: 275px;
    }
  }

  .begin-journey-wrapper {
    padding: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #fff;

    h2 {
      color: #111111;
      font-weight: 500;
      font-size: 24px;
      line-height: 39px;
      margin-bottom: 5px;

    }

    h6 {
      color: #747474;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 30px;
    }

    button {
      width: 100%;
      padding: 15px 10px;
      color: #ffffff;
      display: block;
      font-size: 16px;
      text-align: center;
      border-radius: 12px;
      background-color: #222222;
    }
  }
}

/* MOBILE VIEW MEDIA QUERY */
@media only screen and (max-width: 480px) {
  .splash-screen-section {
    background-size: contain;
  }
}