<div class="bottom-layout">
    <div class="bottom-layout-wrapper">
        <a href="/Home/{{createdBy}}" [routerLinkActive]="['is-active']"><i class="fa-solid fa-house"></i></a>
        <a href="/Main-Category/{{createdBy}}/{{HubId}}" [routerLinkActive]="['is-active']"><i
                class="fa-solid fa-magnifying-glass"></i></a>
        <a href="/Wish-list/{{createdBy}}/{{HubId}}" [routerLinkActive]="['is-active']"><i class="fa-regular fa-heart"></i></a>
        <a href="/Notifications/{{createdBy}}/{{HubId}}" [routerLinkActive]="['is-active']"><i class="fa-regular fa-bell"></i></a>
        <a href="/Account/{{createdBy}}/{{HubId}}" [routerLinkActive]="['is-active']"><i class="fa-regular fa-user"></i></a>
    </div>
</div>