<div class="order-status-wrapper {{selectedlanguage =='Arabic (عربي)' ? 'left-to-right':''}}" >
    <div class="order-status-list status">
        <div class="content">
            <img class="carts-icon" src="/assets/img/icons/cart-icon.svg" alt="icon" />
            <h3>Special offer for you !</h3>
            <p>Jony, enjoy extra 5% off on green tea only for today !shop now</p>
            <h5>(2 day ago)</h5>
        </div>
        <div class="product">
           <div class="img">
            <img src="/assets/img/features/1.png" alt="product" />
           </div>
        </div>
    </div>

    <div class="order-status-list">
        <div class="content">
            <img class="carts-icon" src="/assets/img/icons/cart-icon.svg" alt="icon" />
            <h3>Order delivered</h3>
            <p>Your soul & soul prder contaning royal cruzz life big as been delivered</p>
            <h5>(2 day ago)</h5>
            <a class="first">Know more</a>
            <a>Share feedback</a>
        </div>
        <div class="product">
           <div class="img">
            <img src="/assets/img/features/2.png" alt="product" />
           </div>
        </div>
    </div>

    <div class="order-status-list status">
        <div class="content">
            <img class="carts-icon" src="/assets/img/icons/discount.svg" alt="icon" />
            <h3>Special offer for your shopping</h3>
            <p>From 210.00 SR great discount on top brands, &more...</p>
            <h5>(2 day ago)</h5>
        </div>
        <div class="product">
           <div class="img">
            <img src="/assets/img/features/3.png" alt="product" />
           </div>
        </div>
    </div>

    <div class="order-status-list status">
        <div class="content">
            <img class="carts-icon" src="/assets/img/icons/cart-icon.svg" alt="icon" />
            <h3>Order delivery</h3>
            <p>Your soul & soul containing Tea Powderhas been delivery</p>
            <h5>(2 day ago)</h5>
        </div>
        <div class="product">
           <div class="img">
            <img src="/assets/img/features/4.png" alt="product" />
           </div>
        </div>
    </div>
</div>