.order-status-wrapper {
    .order-status-list {
        padding: 20px;
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        background-color: #ffffff;
        &:last-child {
            margin-bottom: 0;
        }


        .content {
            position: relative;
            padding: 0 20px;

            .carts-icon {
                position: absolute;
                left: -5px;
                top: 2px;
            }

            h3 {
                color: #00525b;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                margin-bottom: 12px;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                position: relative;
            }

            p {
                color: #00525b;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 12px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
            }

            h5 {
                color: #5F5F5F;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 10px;
            }

            a {
                color: #2472CD;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                border-radius: 5px;
                padding: 5px;
                display: inline-block;
                border: 1px solid rgba(36, 114, 205, 1);
                &.first {
                    margin-right: 10px;
                }
            }
        }

        .product {
            .img {
                width: 60px;
                height: 60px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        &.status {
            opacity: 0.5;
            .content {
                h5 {
                    margin-bottom: 0;
                }
            }
        }
    }
}
