<section class="cookies-section">
     <!-- BACK TO PAGE -->
     <div class="back-top-page">
        <a (click)="backNavigation()">
            <img src="/assets/img/icons/back-arrow.svg" alt="arrow" />
            <span>Home</span>
        </a>
    </div>

<div class="page-wrapper">
    <div class="top-wrapper">
        <h2>Cookies</h2>
        <p>POLICY ON THE COOKIES SOULANDSOUL.COM</p>
        <p>What are cookies?</p>
    </div>

    <p>Www.soulandsoul.com website uses cookies or other files of similar functionality (in
        "Cookies"). Cookies are small text files sent by the web pages you visit and that are stored on your computer,
        mobile phone or other access device. Widely they used for websites work or work more efficiently and to provide
        information to the owners of the page.</p>


    <div class="pointer">
        <h3>How and why we use cookies?</h3>
        <p>Cookies are used to improve the use and functionality of the web pages and to better understand how visitors
            use our websites and the tools and services we offer them. Storage of cookies on your computer is a simple
            and convenient way to customize and improve your experience on our website and make your next visit more
            enjoyable. We do not use cookies to collect personal information such as your name. However, we can link
            information in a cookie with personal information collected about you otherwise (for example, registration
            in the general website).</p>
    </div>

    <div class="pointer">
        <h3>What types of cookies are used?</h3>
        <p>Www.soulandsoul.com Our website uses session cookies and persistent cookies, which, in turn, may own or
            third-party cookies. Session cookies are cookies designed to collect and store data while the user accesses
            the website. They are often used to store information only interested in preserving for the service
            requested by the user at the time. Persistent cookies are a type of cookies in which data is stored in the
            terminal and can be accessed for treatment for a defined by the head of the cookie that can range from a few
            minutes to several years period.</p>

        <ul>
            <li>Own Cookies are cookies created by the manager of the website, SOULANDSOUL.COM, SA Our website uses
                persistent own cookies for customization, allowing access the service with some features general
                predefined as, for example, indicate the language in which the website, and analysis is shown to obtain
                statistical information about navigation.</li>
            <li>Third party cookies: cookies are created by third parties outside SOULANDSOUL, SA and used for different
                services (for example, to analyze a website and as an advertising medium). The following table is sorted
                and describe different third-party persistent cookies used in this (not without informed consent)
                website, and the purpose for which the information they store is used:</li>
        </ul>

    </div>


    <div class="pointer">
        <h3>Information on different types of cookies used by soulandsoul.com</h3>
        <p>Cookies Customization: allow access to the website with some features of a general nature predefined
            depending on a number of criteria in the user terminal, for example, the type of browser through which
            access to the service and the results previous searches.</p>
        <p>Cookies techniques: those that allow the user to re-enter your preferences about the use of cookies. We also
            use cookies to run techniques videos remotely and get data from the delay of the connection to the server.
            Finally, we use techniques which allow cookies to share certain content on social networks. Involves the use
            of cookies that link to the websites of these social networks.</p>
        <p>Analytical cookies: those cookies, along with server log files, allow us to know the total number of users
            visiting the website and sections of it that are most popular. Similarly, we use these cookies for</p>
        <p>videos statistics and evaluate actions that can be performed with them. Finally, also they used to analyze
            the activity of social networks available on the website.</p>
        <p>Cookies advertising: those that enable the management of advertising space on the website based on criteria
            such as the edited content or the frequency in which ads are displayed.</p>
    </div>

    <div class="pointer">
        <p>How I can change the cookie settings?</p>
        <p>Most web browsers can manage at any time, preferences</p>
        <p>User on the use of cookies. You can set your browser to block or</p>
        <p>delete certain cookies at its discretion. For shaping our cookies and</p>
        <p>third user can access:</p>
    </div>

    <div class="pointer">
        <p>Google Chrome : Tools → Settings → Show advanced settings → Settings → Cookies → Block content data pages and
            cookies from third parties.</p>
    </div>

    <div class="pointer">
        <p>Mozilla Firefox : Tools → Options → Privacy → History → Use a configuration customized for history (uncheck
            all boxes).</p>
    </div>

    <div class="pointer">
        <p>Internet Explorer : Tools → Internet Options → Privacy → Settings for the Internet zone (navigation bar up to
            block all cookies).</p>
    </div>

    <div class="pointer">
        <p>Safari : Edit → Preferences → Privacy → Block cookies (always choose).</p>
    </div>


    <div class="pointer">
        <h3>How I can revoke my consent to use cookies?</h3>

        <p>You may revoke your consent for cookies or third parties own use</p>
        <p>in its own browser. If you do, note that you may not be able to register on our website or use other features
            that require prior registration or data collection. All changes made in the configuration of cookies for
            this site will be kept until you decide to make further changes if you change your mind.</p>
    </div>

    <div class="pointer">
        <p>Changes in Policy Cookies SOULANDSOUL, SA. You can modify this Policy Cookies based on a change in the
            legislative or regulatory requirements or in order to adapt the policy to the instructions issued by the
            Data Protection Agency. When significant changes occur in this Cookies Policy will be communicated to the
            user through an information notice on the website.</p>
    </div>

    </div>
</section>