.wish-list-section {
    overflow-y: auto;
    padding-bottom: 50px;
    height: 100%;
    &.modal-patch {
        &::before {
            content: "";
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
            position: absolute;
            background: rgb(0 0 0 / 58%);
        }
    }

    .user-title {
      display: flex;
      align-items: center;
      padding: 20px;
      top: -1px;
      position: sticky;
      justify-content: space-between;
      background-color: #F5F5F5;
      .title {
          display: flex;
          align-items: flex-end;

          h3 {
              display: flex;
              align-items: center;
              color: #00525b;
              font-weight: 400;
              font-size: 16px;
              line-height: 28px;
              .back-page {
                color: #2e2c2c;
                cursor: pointer;
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle;
                img {
                    width: 10px;
                    margin-right: 10px;
                }

                &:hover {
                    color: #00525b;
                }
            }
          }

      }

      .card-status {
          width: 55px;
          height: 55px;
          border-radius: 50%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ffffff;

          .card-count {
              color: #ffffff;
              width: 25px;
              height: 25px;
              font-size: 12px;
              font-weight: 500;
              border-radius: 50%;
              background-color: #222222;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              right: -5px;
              top: 6px;
          }
      }
  }

/* COMMON SEARCH BOX*/
.common-search-box {
    margin-top: 20px;
    position: sticky;
    top: 94px;
    z-index: 99;
    background-color: #F5F5F5;

    .common-search-input {
        position: relative;

        .mike-icon {
            top: 50%;
            right: 20px;
            position: absolute;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
        }

        input {
            color: #00525b;
            width: 100%;
            height: 56px;
            background-color: #ffffff;
            border-radius: 25px;
            font-size: 14px;
            border: 0;
            padding: 0 50px;
            box-sizing: border-box;
            &::placeholder {
                color: #5B5858;
                font-size: 14px;
            }
    }

    .search-icon {
        top: 50%;
        left: 20px;
        position: absolute;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }

    }
}
    /* BACK TO PAGE */
    .back-top-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 0;
        z-index: 8;
        padding-bottom: 0;
        box-shadow:none;
      //  background-color: #F5F5F5;
        .sorting {
            .sort {
                margin-right: 10px;
            }
            a {
                img {
                    width: 20px;
                }
            }
        }
    }

    /* MY CART PRODUCT */
      .my-cart-product {
        margin-bottom: 20px;

        .product-list {
            position: relative;
            margin-bottom: 10px;
            background-color: #ffffff;
            &:last-child {
                margin-bottom: 0;
            }

            .product {
                display: flex;
                padding: 20px 10px;
                align-items: center;
                justify-content: space-between;
                .product-img {
                    flex: 20% 0;
                    .img {
                        width: 60px;
                        height: 60px;
                        margin-right: 1rem;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                .product-content {
                    flex: 60% 0;
                    h2 {
                        color: #00525b;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 20px;
                        margin-bottom: 5px;
                    }

                    h4 {
                        color: #00525b;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        margin-bottom: 3px;
                    }

                    h6 {
                        color: #00525b;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 26px;
                    }
                }

                .product-count {
                    flex: 20% 0;
                    .qty {
                        display: flex;
                        align-items: center;
                        .count {
                            color: #000;
                            display: inline-block;
                            vertical-align: top;
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 30px;
                            padding: 0 2px;
                            min-width: 35px;
                            text-align: center;
                            border: 0;
                            width: auto;
                            background-color: #ffffff;

                        }
                        .minus,
                        .plus {
                            cursor: pointer;
                            display: inline-block;
                            vertical-align: top;
                            color: #00525b;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            border-radius: 50%;
                            display: flex;
                            font-size: 24px;
                            align-items: center;
                            justify-content: center;
                            background-clip: padding-box;
                            background: #ffffff;
                            border: 0.709691px solid #00525b;
                            &:hover {
                                background-color: #f5f5f5;
                            }
                        }
                    }
                }
            }

            .product-action-bttn {
                display: flex;
                justify-content: space-between;
                border-top: 1px solid #D9D9D9;

                a {
                    flex: auto;
                    color: #00525b;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 12px;
                    text-align: center;
                    border-right: 1px solid #D9D9D9;
                    &:last-child {
                        border-right: 0;
                    }

                    &.remove {
                        color: #EB2A2A;
                    }
                }
            }
        }
    }


    /* WISH LIST WRAPPER */
    .wish-list-wrapper {
        padding: 0 20px;
        .card {
            border: 0;
            //height: 100%;
            margin-top: 20px;
            border-radius: 25px;
            position: relative;
            border: 1px solid #e9e9e9;

            .remove {
                top: 15px;
                right: 15px;
                position: absolute;
            }
            .card-img-top {
                padding: 15px;
                height: 160px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .card-body {
                padding: 0;
                padding: 0 10px 20px 10px;
                h5 {
                    color: #00525b;
                    font-size: 15px;
                    line-height: 22px;
                    font-weight: 500;
                    margin-bottom: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                h4 {
                    color: #00525b;
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: 500;
                    margin-bottom: 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                a {
                    display: block;
                    font-size: 14px;
                }
            }

        }
        .pagination-bttn {
          padding: 20px 0;
          text-align: center;
      }
    }

    /* ADD TO CARD BTTN */
    .add-to-card-btn {
        padding: 0 20px;
        button {
            width: 100%;
            height: 48px;
            font-size: 16px;
        }
    }

    /* PAGE COMMON WRAPPER */
    .page-common-wrapper {
        overflow-x: hidden;
         /* PAGE COMMON HEADER */
      .page-common-header {
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: space-between;
        h2 {
            color: #00525b;
            font-weight: 500;
            font-size: 18px;
        }

        a {
            color: #00525b;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
        }

         /* FEATURES ITEMS SLIDER */
      .feature-items-slider {
        .slick-list {
            padding-left: 0 !important;
        }
        .slick-slider {
            margin: 0 auto;
            .features-card {
                height: 220px;
                border-radius: 20px;
                background-color: #ffffff;
                border: 1px solid #e9e9e9;
                .top {
                    height: 150px;
                    padding: 20px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .bottom {
                    padding: 10px;
                    h3 {
                        color: #00525b;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 18px;
                        word-break: break-word;
                    }

                    h6 {
                        color: #00525b;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 26px;
                    }
                }
            }
        }


        .slick-track {
            will-change: transform;
          }

          .slick-slide {
            padding: 10px;

          }


    }
    }


    /* SELECT VARIANT */
    .select-variant {
        background-color: #ffffff;
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        box-shadow: rgb(149 157 165 / 20%) 0px -7px 24px;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;

        &.product-variant {
            transform: translateY(0);
            -webkit-transform: translateY(0);
        }

        /* VARIANT HEADER */
        .variant-header {
            display: flex;
            align-items: center;
            padding: 20px;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;

            h2 {
                color: #00525b;
                font-size: 18px;
                font-weight: 600;
            }

            a {
                color: #000;
            }
        }

        /* VARIANT BODY */
        .variant-body {
            padding: 20px;
            .variant-product {
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                .img {
                    width: 60px;
                    margin-right: 15px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                h5,
                h4 {
                    color: #00525b;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 500;
                    margin-bottom: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                h4 {
                    font-size: 16px;
                    line-height: 18px;
                }
            }

            .variants-details {
                h2{
                    color: #00525b;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }

                // VARIANTS DETAILS WRAPPER
                .variants-details-wrapper {
                    display: flex;
                    // flex-wrap: wrap;
                    .variants-card {
                        margin-right: 20px;
                        display: absolute;
                        .variants-card-img {
                            width: 80px;
                            height: 80px;
                            padding: 5px;
                            border-radius: 8px;
                            border: 1px solid #D6D6D6;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                            &.active {
                                border-color: #222222;
                            }
                        }
                    }

                    h3 {
                        color: #00525b;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 18px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-top: 5px;
                    }
                }

                // CONTINUE BTTN
                .continue-bttn {
                    margin-top: 20px;
                    a {
                        font-size: 14px;
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }

     /* LEFT TO RIGHT CONTENT */
     &.left-to-right {
        direction: rtl;
     }
}

/* TABLET VIEW MEDIA QUERY */
@media only screen and (max-width: 768px) {
    .wish-list-section {
        width: 100%;
        box-shadow: none;
    }
}

@media only screen and (max-width: 1024px) {
    .wish-list-section {
        width: 100%;
        box-shadow: none;
    }
}

/* MOBILE VIEW MEDIA QUERY */
@media only screen and (max-width: 480px) {
    .wish-list-section {
        width: 100%;
        box-shadow: none
    }
}
