<div class="page-common-wrapper mb-3 {{selectedlanguage =='Arabic (عربي)' ? 'left-to-right':''}}" *ngIf="getItems?.length > 1">
	<div class="page-common-header pb-0 pt-0">
		<div>
			<h2>
				{{selectedlanguage =='Arabic (عربي)'?'منتجات ذات صله':'Related products'}}
			</h2>
		</div>
		<div>
			<a href="/Main-Category/SubCategory/ProductList/{{MaincatId}}/{{createdBy}}/{{HubId}}/asc/0/0">
				{{selectedlanguage =='Arabic (عربي)' ? 'اظهار الكل' :'See all'}}
			</a>
		</div>
	</div>
	<!-- COMMON CUSTOM SLIDER -->
	<div class="common-custom-slider">
		<div *ngFor="let item of getItems" class="common-card-box">
			<div class="special-offer-badge" *ngIf="item.manufracture null"><span>{{(((item.manufracture-item.sellingPrice)/item.manufracture)*100) | number : '1.0-0'}}% OFF</span></div>
			<!-- <a class="added-wish-list" href="javascript:void(0)">
				<i *ngIf='item.isWishlisted == "false" || item.isWishlisted == ""' (click)="addedWishlist(item)"
					class='fa-regular fa-heart' style='font-size:20px;'></i>
				<i *ngIf='item.isWishlisted == "true" || item.isWishlisted == "active"'
					(click)="removeWishlist(item.wishlistId)" class='fa-solid fa-heart'
					style='font-size:20px ;color: red ;'></i>
			</a> -->
			<div class="top-img">
				<div class="card-img">
					<a href="/Main-Category/SubCategory/Category/Products/{{item.itemId}}/{{item.mainCategory}}/{{createdBy}}/{{HubId}}/asc/0/0">
						<!-- <img src="{{item.imagePath}}" alt="product"> -->
            <img src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/Product-image/{{item.itemId}}_0.png" alt="img"
            onerror="this.src='assets/img/category/no-image.png';">
          					</a>
				</div>
			</div>
			<div class="card-bottom">
				<div class="card-content">
					<div class="add-cart">
						<a href="/Main-Category/SubCategory/Category/Products/{{item.itemId}}/{{item.mainCategory}}/{{createdBy}}/{{HubId}}/asc/0/0">
							<h3>{{item.pluName}}</h3>
						</a>
						<p>₹ {{item.sellingPrice}} <span class="offer-amount" *ngIf="item.manufracture!= null">{{item.manufracture}}</span></p>
						<button type="button" *ngIf="item.isInCart == 'false' && (item.relation != 1 || item.stockQty!=0)" (click)="addToCart(item)" class="add-cart-bttn">
							{{selectedlanguage =='Arabic (عربي)'?'أضف إلى السلة':'Add to Bag'}}
						</button>
						<p *ngIf="item.stockQty == 0 && item.relation==1" class="text-danger">
							{{selectedlanguage=='Arabic (عربي)'?'إنتهى من المخزن':'Out Of Stock'}}
						</p>
						<button type="button" *ngIf="item.isInCart == 'true' && item.relation != 1" (click)="addToCart(item)" class="add-cart-bttn added-bttn">
							{{selectedlanguage =='Arabic (عربي)'?'مضاف':'Added'}} <i class="fa-solid fa-pen-to-square"></i>
						</button>
						<div class="add-cart-box">
							<div *ngIf="item.isInCart == 'true' && item.relation == 1 && item.stockQty !=0">
								<div *ngFor="let cart of mycart">
									<div *ngIf="item.itemId == cart.itemId" class="product-qty mb-0">
										<span (click)="handleMinus(cart)" class="minus"><i class="fa-solid fa-minus"></i></span>
										<input type="number" class="count" id="{{cart.id + '_productId'}}" value="{{cart.quantity?cart.quantity:1}}"
										(keyup)="onInputUpdateqty(cart,$event.target)" min="0"
										oninput="this.value =!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : ''" />
										<span (click)="handlePlus(cart)" class="plus"><i class="fa-solid fa-plus"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- SELECT VARIANT MODAL -->
	<div [ngClass]="{ 'product-variant': variantView }" class="select-variant">
		<div class="variant-header">
			<h2>
				{{selectedlanguage =='Arabic (عربي)' ?'اختر واحدة':'Choose One'}}
			</h2>
			<a (click)="closeVariant()">
				<i class="fa-solid fa-xmark"></i>
			</a>
		</div>
		<div class="variant-body">
			<div class="variant-product">
				<div class="img">
					<!-- <img src="{{displayImg}}" alt="product"> -->
          <img src="{{displayImg}}" alt="img"
            onerror="this.src='assets/img/category/no-image.png';">
				</div>
				<div>
					<h5>{{ itemName }}</h5>
					<h4>
						₹ {{ selectedPrice }}
					</h4>
				</div>
			</div>
			<!-- <div class="variants-details">
				<h2>
					{{selectedlanguage =='Arabic (عربي)' ?'المتغيرات:':'Variants:'}}
				</h2>
				<div class="variants-details-wrapper">
					<div *ngFor="let v of cartlist?.pricelist;let i=index" class="variants-card">
						<div [ngClass]="{ 'active':i == varianceindex}"
							(click)="varientChange(v.sellingPrice, v.priceId,i, v.itemId,v.stockQty)"
							class="variants-card-img">
							<i *ngIf="v.ishubMap == 'true'" class="fa-solid fa-circle-check active-check"></i>
							<img src="{{v.imagePath}}" alt="variant">
						</div>
						<h3>{{ v.size }}</h3>
						<div class="continue-bttn">
							<div class="continue-bttn-divide">
								<button type="button" *ngIf="v.ishubMap == 'false' && v.priceId == selectedSize && !isProductOutOfStock"
									(click)="continueProduct()" class="btn btn-dark w-100">	{{selectedlanguage =='Arabic (عربي)' ?'استمر':'Add to Bag'}}
								</button>
								<ng-container *ngIf="!isProductOutOfStock">
									<div *ngFor="let cart of mycart">
										<div *ngIf="v.ishubMap == 'true' && cart.pattern == selectedSize" class="product-qty">
											<span (click)="handleMinus(cart)" class="minus"><i class="fa-solid fa-minus"></i></span>
											<input type="number" class="count" id="{{cart.id + '_productId'}}" value="{{cart.quantity?cart.quantity:1}}"
												(keyup)="onInputUpdateqty(cart,$event.target)" min="0"
												oninput="this.value =!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : ''" />
											<span (click)="handlePlus(cart)" class="plus"><i class="fa-solid fa-plus"></i></span>
										</div>
									</div>
								</ng-container>
								<p *ngIf="isProductOutOfStock" class="text-danger">
									{{selectedlanguage=='Arabic (عربي)'?'إنتهى من المخزن':'Out Of Stock'}}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div> -->
      <div class="variants-details">
        <h2>{{selectedlanguage =='Arabic (عربي)' ?'المتغيرات:':'Variants:'}}</h2>
        <div class="variants-details-wrapper">
          <div class="variants-card" *ngFor="let v of cartlist?.pricelist;let i=index;">
            <!-- <div class="variants-card-img" (click)="varientChange(v.sellingPrice, v.priceId,i, v.itemId,v.stockQty)"
              [ngClass]="{ active: v.sellingPrice == selectedPrice }"><i class="fa-solid fa-circle-check active-check"
                *ngIf="v.ishubMap == 'true'"></i>
              <img src="{{v.imagePath}}" alt="variant" />
            </div> -->
            <div class="variants-item circle" (click)="varientChange(v.sellingPrice, v.priceId,i, v.itemId,v.stockQty)" [ngClass]="{ active: v.sellingPrice == selectedPrice }">
              <i class="fa-solid fa-circle-check active-check" *ngIf="v.ishubMap == 'true'"></i>
              <div class="variant-name"  *ngIf="!v.displayWithImg">{{ v.size }} {{ (v.measurement =='NOVAR' || 'Ut') ? '' : v.measurement }}
              </div>
              <img  *ngIf="v.displayWithImg" src="{{v.imagePath}}" onerror="this.onerror=null; this.src='assets/img/category/no-image.png'"
                  alt="variants">
            </div>
            <h3>{{ v.size }}</h3>
            <div class="continue-bttn">
              <div class="continue-bttn-divide">
                <button type="button" class="btn btn-dark w-100" (click)="continueProduct()"
                  *ngIf="v.ishubMap == 'false' && v.priceId == selectedSize  && !isProductOutOfStock">{{selectedlanguage =='Arabic (عربي)'
                  ?'أضف إلى السلة':'Add to Bag'}}</button>
                <div *ngFor="let cart of mycart">
                  <div class="product-qty" *ngIf="v.ishubMap == 'true' && cart.pattern == selectedSize  && !isProductOutOfStock">
                    <span class="minus" (click)="handleMinus(cart)"><i class="fa-solid fa-minus"></i></span>
                    <input type="number" class="count" id="{{cart.id + '_productId'}}" value="{{cart.quantity?cart.quantity:1}}"  (keyup)="onInputUpdateqty(cart,$event.target)" min="0" oninput="this.value =!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : ''"/>
                    <span class="plus" (click)="handlePlus(cart)"><i class="fa-solid fa-plus"></i></span>
                  </div>
                </div>
                  <p *ngIf="isProductOutOfStock" class="text-danger">
                    {{selectedlanguage=='Arabic (عربي)'?'إنتهى من المخزن':'Out Of Stock'}}
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>
</div>
