.signin-screen-page {
	height: 100%;
	overflow: hidden;
	position: relative;
	background-color: #ffffff;
   /* BACK TO PAGE */
	.back-to-page {
		padding: 20px;

		a {
			color: #00525b;
			font-size: 16px;
			font-weight: 700;
		}

		img,
		span {
			vertical-align: middle;
		}

		img {
			width: 10px;
			margin-right: 10px;
		}

		h4 {
			color: #2F2828;
			font-size: 12px;
			font-weight: 400;
			margin-top: 5px;
		}
	}

    .login-form {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 40rem;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		border-radius: 12px;
		box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        .form-content {
            padding: 20px; 

            /* FORGOT PASSWORD */
            .forgot-password {
				display: flex;
				align-items: center;
				justify-content: space-between;

				input,
				label {
					vertical-align: middle;
				}

				label {
					color: #1B2B41;
					font-weight: 400;
					font-size: 12px;
					margin-left: 10px;
				}

				a {
					color: #0571E6;
					font-weight: 400;
					font-size: 12px;

					&:hover {
						text-decoration: underline;
					}
				}
			}


            /* LOGIN STATUS WRAPPER */
            .login-staus-wrapper {
				margin-top: 40px;

				h5 {
					color: #1B2B41;
					font-size: 14px;
					font-weight: 500;
					margin-bottom: 15px;
				}

				.login-staus {
					display: flex;

					a {
						width: 50px;
						height: 50px;
						padding: 0;
						display: block;
						box-shadow: none;
						border-radius: 50%;
						min-width: 50px;
						margin-right: 10px;

						&.google-login-status {
							border: 1px solid #ccc;
							display: flex;
							align-items: center;
							justify-content: center;
						}

						&:last-child {
							margin-right: 0;
						}

						img {
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}
				}
			}
        }
    }


     /* LOGIN FORM BOTTOM */
	.login-form-bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 40rem;
		margin: 0 auto;

		.content {
			padding: 20px 0 40px 0; 

			.terms-service {
				margin-bottom: 15px;
				input,
				label {
					vertical-align: middle;
				}

				label {
					color: #1B2B41;
					font-weight: 400;
					font-size: 12px;
					margin-left: 10px;
					a {
						color: #1B2B41;
						text-decoration: underline;
					}
				}
			}

			.form-btn {
				color: #FFFFFF;
				font-weight: 600;
				font-size: 14px;
				height: 50px;
				display: block;
				text-align: center;
				border-radius: 12px;
				background-color: #222222;
				text-transform: capitalize;
			}

			h5 {
				color: #00525b;
				font-size: 12px;
				font-weight: 400;
				text-align: center;
				margin-top: 10px;
				margin-bottom: 0;

				a {
					color: #00525b;
					font-weight: 600;
				}
			}

		}

	}
}


/* TABLET VIEW MEDIA QUERY */
@media only screen and (max-width: 768px) {
	.signin-screen-page {
		.login-form {
			left: 0;
			top: 0;
			margin-top: 60px;
			position: sticky;
			transform: none;
			-webkit-transform: none;
			width: 100%;
			box-shadow: none;
		}

		.login-form-bottom {
			width: 100%;
			.content {
				padding: 20px 20px 40px 20px;
			}
		}
	}
}

@media only screen and (max-width: 1024px) { 
	.signin-screen-page {
		.login-form {
			left: 0;
			top: 0;
			margin-top: 60px;
			position: sticky;
			transform: none;
			-webkit-transform: none;
			width: 100%;
			box-shadow: none;
		}

		.login-form-bottom {
			width: 100%;
			.content {
				padding: 20px 20px 40px 20px;
			}
		}
	}
}

/* MOBILE VIEW MEDIA QUERY */
@media only screen and (max-width: 480px) {
	.signin-screen-page {
		.login-form {
			left: 0;
			top: 0;
			margin-top: 60px;
			position: sticky;
			transform: none;
			-webkit-transform: none;
			width: 100%;
			box-shadow: none;
		}

		.login-form-bottom {
			width: 100%;
			.content {
				padding: 20px 20px 40px 20px;
			}
		}
	}
}