<section class="privacy-policy-section">

    <div class="page-wrapper">
        <h2>Terms and Conditions</h2>

        <p>Thank you for visiting <a href="www.soulandsoul.com">www.soulandsoul.com.</a> Please read this document
            carefully each time you access <a href="www.soulandsoul.com">www.soulandsoul.com</a> to check for changes in
            the text and leave if you do not agree with it, since the use of the website implies the express and full
            acceptance of this Legal Notice in the version published at the time the user accesses it.</p>

        <div class="pointer">
            <h3>Legal Notice This consists of:</h3>
            <p>Special Conditions that may apply to some of the specific services of the website and also be understood
                accepted by the mere</p>
            <p>use of such services.</p>
            <p>Cookies Policy.</p>
            <p>Privacy Policy.</p>
        </div>

        <div class="pointer">
            <h3>Property of the website and Definition of Terms</h3>

            <p>This legal notice sets out the General Terms and Conditions governing access and use of the website</p>
            <p><a href="http://www.soulandsoul.com">http://www.soulandsoul.com </a> which owns the company
                SOULANDSOUL.COM email address <a
                    href="https://www.soulandsoul.com/pages/contact-us">info@soulandsoul.com</a>.</p>
        </div>

        <div class="pointer">
            <p>The terms "we", "our", "SOULANDSOUL.COM" refer to SOULANDSOUL, "You" refers to any person accessing this
                site or use.</p>
        </div>

        <div class="pointer">
            <h3>Integrity page</h3>
            <p>This website is offered free "when possible" and "as is". We reserve the right to restrict, suspend or
                terminate without notice at any time, access to this website, a part thereof or any specific
                functionality built into the page. We also reserve the right to freely withdraw any of the contents
                housed therein.</p>
        </div>

        <div class="pointer">
            <h3>Our rights on the website</h3>
            <p>drawings and images in general on this site are owned by SOULANDSOUL or have been included therein with
                the permission of their respective owner and duly found registered.</p>
            <p>You can browse this website, reproduce texts by printing and downloading of these or photos or videos (if
                any) to a hard disk or for the purposes of distribution to other individuals. However, all this cannot
                always perform as legislation on copyright is respected and its source is mentioned. You may not
                reproduce this website for commercial profit, and modify its contents in any way or incorporate them
                into other work, publication or website without the prior express written permission of SOULANDSOUL.</p>
            <p>Trademarks, logos, characters and service marks embedded in this website belong to SOULANDSOUL. In no
                case it is construed that the contents of this website involve the granting of any authorization or
                right to use any Trademark displayed on the page. Use outside the provisions of these Terms and
                Conditions, is strictly prohibited. SOULANDSOUL defend its intellectual property rights to the fullest
                extent permitted by law.</p>
        </div>

        <div class="pointer">
            <h3>Their responsibilities and rights over their contents.</h3>
            <p>Where appropriate, and whenever possible to include third-party content on the website, any content you
                submit for publication on this website (including images, text, questions, comments, suggestions or the
                like) so we use the terms allowed by the law, so it is possible that in some cases we ask you to sign
                and send us some kind of document transfer of rights to publish certain content.</p>
            <p>In any case, whenever we do get any material, you guarantee (for the sake of sending) which is the
                legitimate holder of the data to be published or has obtained the unequivocal consent of the persons
                whose data is spread, and it has intellectual property rights and all moral rights to the images to be
                added, including by way of example and not limiting the rights of reproduction, distribution,
                transformation, exploitation, exhibition and public communication.</p>
            <p>In general, it is forbidden to send material or any action on the page (such as reverse engineering or
                hacking) which, according to SOULANDSOUL, may be considered inappropriate or is prohibited under the law
                applicable to this website. TCHOO deliver to the authorities all materials or evidence to suspect that
                violate the law and justice will actively assist in the prosecution of the offender, including by way of
                example and not limited to the following:</p>
            <p>Any act which constitutes a breach of privacy (including transfers to the website of private information
                without the consent of the person concerned) or any other of the legal rights of individuals.
                Using this website to defame or slander TCHOO, its employees or other individuals or acting in such a
                way that the good name of TCHOO into disrepute. <br>
                Transfer files that contain viruses that may cause damage to the property of TCHOO or property of
                individuals to the website.
                Locate on this website or transmit to it any unauthorized material, including by way of example but not
                limited to, any material that may cause, in our view, discomfort or injury, or that violate systems or
                network security TCHOO or another material that is defamatory, racial, obscene, threatening,
                pornographic or present any form of illegality in general.</p>
        </div>

        <div class="pointer">
            <h3>Personal data protection</h3>
            <p>Any personal data submitted to the website of TCHOO is protected by the Protection Policy Personal Data
                set forth in the document Privacy and Protection of Personal Data and TCHOO found on this web page.
                Links to other websites</p>
            <p>You may find links on the website of TCHOO that will lead outside the network and TCHOO. In that case,
                The TCHOO not accept any responsibility regarding the content, accuracy and performance of web pages.
                The links are provided in good faith and TCHOO cannot be responsible for the changes subsequently occur
                in third-party websites to which we provide a link. The inclusion of a link to connect to other websites
                does not imply accountability in relation to those pages by TCHOO - We strongly recommend that you stay
                informed and carefully read the legal notices and privacy of all web pages recommend visit.</p>
        </div>

        <div class="pointer">
            <h3>Territorial limitations</h3>
            <p>The material and information from TCHOO that appear on this site are designed only for users of GCC. The
                TCHOO makes no commitment regarding that the material and information on this site are appropriate or
                available in areas other than GCC.</p>
        </div>

        <div class="pointer">
            <h3>Cookies</h3>
            <p>The TCHOO policy regarding the use of cookies is set out in the policy document cookies. See document
                here .</p>
        </div>

        <div class="pointer">
            <h3>Update these legal conditions</h3>
            <p>We reserve the right to make changes and corrections to this legal notice. Please check this page
                periodically to review these changes and additional information.</p>
        </div>

        <div class="pointer">
            <h3>Contact</h3>
            <p>You can contact soulandsoul.com by email: <a
                    href="https://www.soulandsoul.com/pages/contact-us">info@soulandsoul.com</a></p>
        </div>

        <h4>Copyright © SOULANDSOUL.COM, 2021.</h4>

    </div>
</section>
