<section class="offer-status-section {{selectedlanguage =='Arabic (عربي)' ? 'left-to-right':''}}" [ngClass]="{'modal-patch': modalPatch }">
    <div class="user-title">
        <div class="title">
            <a href="javascript:void(0)"><i class="fa-solid fa-chevron-left"></i> Mystery Offer</a>
            <p>This is the description of the offer created. This is a sample text entered by the user in the description fields.</p>
            <h5><img src="/assets/img/icons/offer-percentage.svg" /> Bulk Offer</h5>
        </div>
    </div>

    <div class="offers-list-content">
        <div class="row mobile-m0">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mobile-m0">
                <div class="offer-content-box">
                    <div class="offer-product">
                        <div class="product">
                            <img src="/assets/img/features/1.png" alt="product" />
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3>Green Tea Gunpowder</h3>
                        <p>Intense taste, subtle and fresh scent, has a soft, luscious this is eroer  wejhsd.</p>
                        <h4><span>SAR 86.00</span> SAR 50.00 (10 units)</h4>
                        <div class="bttns">
                            <button type="button" class="btn btn-dark font-small-2">ADD</button>
                            <h6><img src="/assets/img/icons/success-percentage.svg" alt="product" /> You save SAR 36.00</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mobile-m0">
                <div class="offer-content-box">
                    <div class="offer-product">
                        <div class="product">
                            <img src="/assets/img/features/2.png" alt="product" />
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3>Green Tea Gunpowder</h3>
                        <p>Intense taste, subtle and fresh scent, has a soft, luscious this is eroer  wejhsd.</p>
                        <h4><span>SAR 86.00</span> SAR 50.00 (10 units)</h4>
                        <div class="bttns">
                            <button type="button" class="btn btn-dark font-small-2">ADD</button>
                            <h6><img src="/assets/img/icons/success-percentage.svg" alt="product" /> You save SAR 36.00</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mobile-m0">
                <div class="offer-content-box">
                    <div class="offer-product">
                        <div class="product">
                            <img src="/assets/img/features/3.png" alt="product" />
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3>Green Tea Gunpowder</h3>
                        <p>Intense taste, subtle and fresh scent, has a soft, luscious this is eroer  wejhsd.</p>
                        <h4><span>SAR 86.00</span> SAR 50.00 (10 units)</h4>
                        <div class="bttns">
                            <button type="button" class="btn btn-dark font-small-2">ADD</button>
                            <h6><img src="/assets/img/icons/success-percentage.svg" alt="product" /> You save SAR 36.00</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mobile-m0">
                <div class="offer-content-box">
                    <div class="offer-product">
                        <div class="product">
                            <img src="/assets/img/features/4.png" alt="product" />
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3>Green Tea Gunpowder</h3>
                        <p>Intense taste, subtle and fresh scent, has a soft, luscious this is eroer  wejhsd.</p>
                        <h4><span>SAR 86.00</span> SAR 50.00 (10 units)</h4>
                        <div class="bttns">
                            <button type="button" class="btn btn-dark font-small-2">ADD</button>
                            <h6><img src="/assets/img/icons/success-percentage.svg" alt="product" /> You save SAR 36.00</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mobile-m0">
                <div class="offer-content-box">
                    <div class="offer-product">
                        <div class="product">
                            <img src="/assets/img/features/1.png" alt="product" />
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3>Green Tea Gunpowder</h3>
                        <p>Intense taste, subtle and fresh scent, has a soft, luscious this is eroer  wejhsd.</p>
                        <h4><span>SAR 86.00</span> SAR 50.00 (10 units)</h4>
                        <div class="bttns">
                            <button type="button" class="btn btn-dark font-small-2">ADD</button>
                            <h6><img src="/assets/img/icons/success-percentage.svg" alt="product" /> You save SAR 36.00</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mobile-m0">
                <div class="offer-content-box">
                    <div class="offer-product">
                        <div class="product">
                            <img src="/assets/img/features/2.png" alt="product" />
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3>Green Tea Gunpowder</h3>
                        <p>Intense taste, subtle and fresh scent, has a soft, luscious this is eroer  wejhsd.</p>
                        <h4><span>SAR 86.00</span> SAR 50.00 (10 units)</h4>
                        <div class="bttns">
                            <button type="button" class="btn btn-dark font-small-2">ADD</button>
                            <h6><img src="/assets/img/icons/success-percentage.svg" alt="product" /> You save SAR 36.00</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mobile-m0">
                <div class="offer-content-box">
                    <div class="offer-product">
                        <div class="product">
                            <img src="/assets/img/features/3.png" alt="product" />
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3>Green Tea Gunpowder</h3>
                        <p>Intense taste, subtle and fresh scent, has a soft, luscious this is eroer  wejhsd.</p>
                        <h4><span>SAR 86.00</span> SAR 50.00 (10 units)</h4>
                        <div class="bttns">
                            <button type="button" class="btn btn-dark font-small-2">ADD</button>
                            <h6><img src="/assets/img/icons/success-percentage.svg" alt="product" /> You save SAR 36.00</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mobile-m0">
                <div class="offer-content-box">
                    <div class="offer-product">
                        <div class="product">
                            <img src="/assets/img/features/2.png" alt="product" />
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3>Green Tea Gunpowder</h3>
                        <p>Intense taste, subtle and fresh scent, has a soft, luscious this is eroer  wejhsd.</p>
                        <h4><span>SAR 86.00</span> SAR 50.00 (10 units)</h4>
                        <div class="bttns">
                            <button type="button" class="btn btn-dark font-small-2">ADD</button>
                            <h6><img src="/assets/img/icons/success-percentage.svg" alt="product" /> You save SAR 36.00</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
