<section class="privacy-policy-section">
    <div class="page-wrapper">
        <h2>Privacy Policy</h2>

        <p>SOULANDSOUL.COM (“TCHOO”), knows that you may be interested in knowing how personally identifiable
            information is used, such as name, address, telephone numbers and fax or address email, etc. ("Data") that
            you provide to the soulandsoul.com. For this reason, we have developed this Privacy Policy ("Policy") to
            explain the use of your Data as well as all reasonable precautions to maintain confidentiality and security
            of your Data.</p>
        <p>When ordering any of our products and use our services, you consent to the collection of your Data and accept
            the use practices described in this Policy, as amended by us from time to time. We reserve the right to
            modify our Policy and invite you to consult this Policy from time to familiarize yourself with any changes.
            We post any new Policy on our website, changing the date shown in the last paragraph of it.</p>
        <p>The terms of this Policy are without prejudice to any contractual term that you can establish with us, which
            shall prevail over the terms of this Policy.</p>

        <div class="pointer">
            <h3>1. ENGAGEMENT PRIVACY</h3>
            <p>The soulandsoul.com does not collect and process Data except when voluntarily provided by you. We ensure
                that our employees are governed by strict standards of security and confidentiality and in processing
                your Data we pledge to respect the privacy protection standards internationally recognized.</p>
        </div>

        <div class="pointer">
            <h3>2. USE OF DATA</h3>

            <p>The SOULANDSOUL collects and processes Data only for specific and limited reasons, when you want to use
                certain services. For example, we may collect and use your information to offer our products or
                services, to bill you for products or services you request, to verify your credit, to offer products and
                services that we believe may be of interest, to process your job application, to receive our press
                releases, or to communicate with you. In addition, we may use your Data to evaluate the effectiveness of
                our services and improve the experience of our visitors and customers to our statistics, in order to
                assess consumer interests, as well as buying trends and other among our customers, and to better
                determine product development and marketing strategies. By submitting your Data, you expressly consent
                to such use demos. The soulandsoul keeps your data only for the purposes reasonably necessary for such
                time and in accordance with any requirement of providing legal or ethical reporting or withholding of
                applicable documents.</p>
            <p>Most of our services do not require any form of registration, allowing you to visit our web sites and
                shops without telling us who you are. However, some services may require you to register. When you
                register, you may need to complete certain fields (some mandatory, others optional) and choose a
                username and password. In these cases, if you choose not to share the Data requested by us, you may not
                enter certain parts of our websites and we cannot respond to your concerns.</p>
        </div>

        <div class="pointer">
            <h3>3. NONDISCLOSURE OF DATA</h3>
            <p>The soulandsoul never sell, rent, share or otherwise distribute or make available your Data to third
                parties outside the group of companies of group SOULANDSOUL, except when we should do so for legal or
                regulatory reasons. However, Data may occasionally be transferred to third parties acting on behalf of
                SOULANDSOUL, for further processing in accordance with the purposes for which your Data were originally
                collected. When disclosure of Data to third parties is likely or necessary for whatever reason,
                soulandsoul will ensure that such third parties provide the same level of protection soulandsoul does,
                where appropriate.</p>
        </div>

        <div class="pointer">
            <h3>4. RIGHT OF ACCESS</h3>
            <p>You have the right to access and update your information or request that it be deleted. Work to ensure
                that your data is up to date, is accurate and complete. If you want to access, correct or delete your
                data, please contact soulandsoul. Your request will be treated quickly and appropriately.</p>
        </div>

        <div class="pointer">
            <h3>5. SECURITY / CONFIDENTIALITY</h3>
            <p>We work to make all reasonable steps to not allow your data to be seen by third parties other than those
                who act for or on behalf of soulandsoul and have agreed to treat your Data confidential and secure
                manner. Access to Data is restricted to those of our employees who need to know and have been trained to
                observe strict standards of confidentiality in handling your Data.</p>
            <p>To ensure the security and confidentiality of the Data soulandsoul collects online, we use data networks
                protected, inter alia, by firewalls and protective standard access key in the sector. Although we have
                tried to create secure websites and confidence for our visitors, please note that the Internet is
                generally not regarded as a completely secure environment and that therefore the confidentiality of the
                data provided by you or material transmitted via our websites or email they cannot be guaranteed by The
                soulandsoul. Therefore, we are not responsible and we have no obligation to the security of your data
                while in transit via the Internet to us.</p>
        </div>

        <div class="pointer">
            <h3>6. DATA TRANSFER ABROAD</h3>
            <p>The soulandsoul can transfer your Data to one of its databases, or affiliates, partners or group abroad
                who have agreed to keep your Data confidential and secure, outside your country of residence. If the
                level of privacy protection in a country does not meet internationally recognized standards, we will
                ensure that Data transfers to our databases in that country are equally protected and not carry out any
                transfer of your data to third parties in those countries. By submitting your Data, explicitly
                authorizes the possible transmission of data to other companies within the group soulandsoul and / or
                its partners and to this end to its transmission to other countries.</p>
        </div>

        <div class="pointer">
            <h3>7. JOB</h3>
            <p>If you are interested in applying for a position published or want to access any future job opportunity
                in soulandsoul, you can provide us with your Curriculum Vitae (CV). Then we compare your skills and
                experience with the requested post and other current job offers. If your profile corresponds to our
                requirements, we will contact you.</p>
            <p>You agree that we may keep your CV in our databases for a reasonable period. When applying for a job, you
                authorize use of your CV and Data used to process your job application, authorizes sending the CV and
                Data to other group companies soulandsoul and its partners, who have agreed to keep the CV and Data
                confidential and secure, and authorizes its transmission beyond national borders. The soulandsoul
                undertakes to use your CV and Data only in relation to your employment opportunities.</p>
        </div>

        <div class="pointer">
            <h3>8. ANONYMOUS INFORMATION / TECHNOLOGY "COOKIE"</h3>
            <p>Most of the information we collect from our websites is anonymous information. When you visit our
                websites, we do not collect your personal information, except when you specifically, voluntarily and
                knowingly provided such information. Anonymous information is processed by soulandsoul to help improve
                the content of our websites, to tailor our sites to the tastes of visitors and to learn more about our
                visitors and how they use our websites. By doing this, soulandsoul can use technology "cookies" to
                collect anonymous information such as browser type, operating system, date and time of access. "Cookies"
                by themselves cannot be used to discover the identity of the user.</p>
        </div>

        <div class="pointer">
            <h3>9. SPAM (SPAMMING)</h3>
            <p>The soulandsoul does not practice "spamming". "Spamming" is defined as sending unsolicited e-mails,
                usually of commercial nature, in large numbers and repeatedly to individuals with whom the sender has
                had no previous contact or where the recipient has refused to receive such communications. On the
                contrary, when we think that any of our products is important to you, we inform you by email giving you
                the option to choose not to receive such service.</p>
        </div>

        <div class="pointer">
            <h3>10. DATA AND CHILDREN</h3>
            <p>To respect the privacy of children and to comply with laws designed to protect minors, persons under 18
                should not provide any Data. The soulandsoul does not collect, use or disclose, knowingly, facts under
                18, without obtaining the prior consent of their legal guardian (parent or guardian).</p>
            <p>Our websites are general audience sites that are not designed nor intended to collect Data from children
                under 18. We ask that parents supervise their children while they are online.</p>
        </div>

        <div class="pointer">
            <h3>11. LINKS TO OTHER SITES</h3>
            <p>As a service to our visitors, our websites may include hyperlinks to other sites that are not operated or
                controlled by soulandsoul. Therefore, soulandsoul is not responsible or legally bound to answer for the
                content of such websites or their privacy practices. Please, before providing your personal information
                to these outside websites soulandsoul note that their privacy practices may differ from ours.</p>
        </div>

        <div class="pointer">
            <h3>12. CONTACT ON THE SOULANDSOUL.COM</h3>
            <p>If you have questions or complaints about our compliance with this Policy, or want to make any
                recommendations or comments to improve the quality of our Policy, please contact soulandsoul at the
                following email  . We will strive to continuously improve the safety and security of
                the data you provide.</p>
            <p>This policy is effective from November 1, 2017. We also invite you to carefully read our "Terms of Use"
                for more information on the use of our websites.</p>
        </div>

        <h4>SOULANDSOUL.COM 2021</h4>

    </div>
</section>
