.notification-tabs {
    .tab-slider--nav {
        margin-bottom: 1rem;
        .tab-slider--tabs {
            display: flex;
            align-items: center;
            padding: 0 20px;
            justify-content: space-between;
            background-color: #fff;
            .tab-slider--trigger {
                list-style: none;
                color: #00525b;
                font-weight: 400;
                font-size: 14px;
                line-height: 27px;
                position: relative;
                padding: 20px 0;
                &.active {
                    font-weight: 600;

                    &::after {
                        content: "";
                        width: 100%;
                        height: 2px;
                        background-color: #000000;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
       
    }

    .notification-content-wrapper {
        background-color: #ffffff;
      
        .notification-header {
            color: #00525b;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            padding: 20px;
            background-color: #ffffff;
        }

        .notification-content {
            .accordion-wrapper {
                .tab {
                  overflow: hidden;
                  border-radius: 0.25rem;
                  position: relative;
                input:checked + label {
                    background-color: #F9F9F9;
                    .up-down-arrow {
                        transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                    }
                }
                .common-checkbox {
                    max-width: 80%;
                    min-width: auto;
                    position: relative;

                    label {
                        h3 {
                            font-size: 14px;
                        }
                    }
                }
                  &-label {
                    padding: 15px 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    border-top:  1px solid #E7E7E7;
                  }
                  &-content {
                    max-height: 0;
                    padding: 0 1rem;
                    transition: all 0.35s;
                    border-top: 0px solid rgba(0, 0, 0, 0.125);
                  }
                  &-close {
                    display: flex;
                    justify-content: flex-end;
                    padding: 0.35rem 0.75rem;
                    font-size: 0.75em;
                    cursor: pointer;
                  }
                  input[id^='tab-'] {
                    position: absolute;
                    opacity: 0;
                    z-index: -1;
                    &:checked {
                      + .tab-label {
                      }
                      ~ .tab-content {
                        max-height: 100vh;
                        background-color: #F9F9F9;
                        padding: 0.5rem 1rem;
                        border-top: 1px solid rgba(0, 0, 0, 0.125);
                      }
                    }
                  }
                }
              }

              
              .tab-content {
                .notification-status-list {
                    padding: 20px 10px;

                    .common-checkbox {
                        margin-bottom: 20px;
                        width: 100%;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        label {
                            .control__indicator {
                                border-radius: 1px;
                                border: 1px solid #000000;
                                background-color: transparent;
                            }
                            h3 {
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 18px;
                            }

                            input:checked + .control__indicator {
                                background-color: #000000;
                                border-color: #000000;

                                &::after {
                                    left: 5px;
                                }
                            }
                        }
                    }
                }
              }
        }
    }
}


.common-checkbox {
   label {
    cursor: pointer;
    display: block;
    position: relative;
    padding-left: 30px;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .control__indicator {
        position: absolute;
        top: 50%;
        left: 0;
        height: 20px;
        width: 20px;
        border: 1px solid #000000;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        &::after {
            left: 7px;
            top: 0px;
            width: 7px;
            height: 13px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            content: "";
            position: absolute;
            display: none;
        }
    }

    h3 {
        color: #00525b;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    h5 {
        color: #00525b;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }

    input:checked + .control__indicator {
        background-color: #000000;
        border-color: #000000;
        &:after {
            display: block;
        }
    }
   }
}

