.add-address-section {
  
    .add-form-wrapper {
      background-color: #ffffff;
    padding: 20px 20px 20px 20px;
  
      form {
        .input-group {
          height: 48px;
          border-radius: 5px;
  
          &.textarea-group {
            height: auto;
          }
  
          &.locate-me-input {
            border: 1px solid #036CCC;
            box-shadow: 3px 2px 5px rgba(3, 108, 204, 0.04);
  
            .input-group-text,
            input {
              background: rgba(3, 108, 204, 0.1);
            }
          }
  
          input,
          select,
          textarea {
            font-size: 14px;
  
            &::placeholder {
              font-size: 14px;
            }
          }
        }
  
        a {
          font-size: 14px;
          color: #036CCC;
          text-decoration: none;
        }
  
  
        /* HOME OFFICE BTTN */
        .home-office-bttn {
          margin-bottom: 40px;
          h3 {
            color: #00525b;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 20px;
          }
  
          .type {
            display: flex;
  
          }
  
          .btn-default {
            color: #00525b;
            margin-left: 20px;
            border: 1.03723px solid #222222;
          }
        }
        .add-save-btn {
          button {
            width: 100%;
            height: 48px;
          }
        }
  
  
      }
      .divider {
  
        font-size: 14px;
        border: 1px dashed #E1E1E1;
      }
    }
  }
  