<section class="offer-status-section {{selectedlanguage =='Arabic (عربي)' ? 'left-to-right':''}}" [ngClass]="{'modal-patch': modalPatch }">
    <div class="user-title">
        <div class="title">
            <a href="javascript:void(0)"><i class="fa-solid fa-chevron-left"></i> BAGA Offers</a>
            <p>This is the description of the offer created. This is a sample text entered by the user in the description fields.</p>
            <h5><img src="/assets/img/icons/offer-percentage.svg" /> Buy Any Get Any</h5>
        </div>
    </div>

    <div class="offers-list-content">
        <div class="apply-discount-title bg-gradient-danger">Start adding any 10 quntity...</div>

    <div class="baga-offer-content">
        <div class="row mobile-m0">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mobile-m0">
                <div class="offer-content-box">
                    <div class="offer-product">
                        <div class="product">
                            <img src="/assets/img/features/1.png" alt="product" />
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3>Green Tea Gunpowder</h3>
                        <p>Intense taste, subtle and fresh scent, has a soft, luscious</p>
                        <h4>SAR 50.00</h4>
                    </div>

                    <div class="qty">
                        <div class="product-qty">
                            <span class="minus"><i class="fa-solid fa-minus"></i></span>
                            <input type="number" min="0" id="qty" value="1" class="count bg-transparent">
                            <span class="plus"><i class="fa-solid fa-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mobile-m0">
                <div class="offer-content-box">
                    <div class="offer-product">
                        <div class="product">
                            <img src="/assets/img/features/2.png" alt="product" />
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3>Green Tea Gunpowder</h3>
                        <p>Intense taste, subtle and fresh scent, has a soft, luscious</p>
                        <h4>SAR 50.00</h4>
                    </div>

                    <div class="qty">
                        <div class="product-qty">
                            <span class="minus"><i class="fa-solid fa-minus"></i></span>
                            <input type="number" min="0" id="qty" value="1" class="count bg-transparent">
                            <span class="plus"><i class="fa-solid fa-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mobile-m0">
                <div class="offer-content-box">
                    <div class="offer-product">
                        <div class="product">
                            <img src="/assets/img/features/3.png" alt="product" />
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3>Green Tea Gunpowder</h3>
                        <p>Intense taste, subtle and fresh scent, has a soft, luscious</p>
                        <h4>SAR 50.00</h4>
                    </div>

                    <div class="qty">
                        <div class="product-qty">
                            <span class="minus"><i class="fa-solid fa-minus"></i></span>
                            <input type="number" min="0" id="qty" value="1" class="count bg-transparent">
                            <span class="plus"><i class="fa-solid fa-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mobile-m0">
                <div class="offer-content-box">
                    <div class="offer-product">
                        <div class="product">
                            <img src="/assets/img/features/4.png" alt="product" />
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3>Green Tea Gunpowder</h3>
                        <p>Intense taste, subtle and fresh scent, has a soft, luscious</p>
                        <h4>SAR 50.00</h4>
                    </div>

                    <div class="qty">
                        <div class="product-qty">
                            <span class="minus"><i class="fa-solid fa-minus"></i></span>
                            <input type="number" min="0" id="qty" value="1" class="count bg-transparent">
                            <span class="plus"><i class="fa-solid fa-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mobile-m0">
                <div class="offer-content-box">
                    <div class="offer-product">
                        <div class="product">
                            <img src="/assets/img/features/2.png" alt="product" />
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3>Green Tea Gunpowder</h3>
                        <p>Intense taste, subtle and fresh scent, has a soft, luscious</p>
                        <h4>SAR 50.00</h4>
                    </div>

                    <div class="qty">
                        <div class="product-qty">
                            <span class="minus"><i class="fa-solid fa-minus"></i></span>
                            <input type="number" min="0" id="qty" value="1" class="count bg-transparent">
                            <span class="plus"><i class="fa-solid fa-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mobile-m0">
                <div class="offer-content-box">
                    <div class="offer-product">
                        <div class="product">
                            <img src="/assets/img/features/3.png" alt="product" />
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3>Green Tea Gunpowder</h3>
                        <p>Intense taste, subtle and fresh scent, has a soft, luscious</p>
                        <h4>SAR 50.00</h4>
                    </div>

                    <div class="qty">
                        <div class="product-qty">
                            <span class="minus"><i class="fa-solid fa-minus"></i></span>
                            <input type="number" min="0" id="qty" value="1" class="count bg-transparent">
                            <span class="plus"><i class="fa-solid fa-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="offer-footer-bttn">
        <div>
            <h4 class="offer-lock-unlock"><i class="fa-solid fa-lock"></i> Offer Locked</h4>
        </div>
        <div>
            <button type="button" class="btn btn-dark disabled">Add to Cart</button>
        </div>
    </div>
</section>
