<section class="recent-view-section" [ngClass]="{'modal-patch': modalPatch }">
  <!-- USER TITLE -->
  <div class="user-title">
    <div class="d-flex align-items-center justify-content-between">
      <div class="title">
        <div>
          <h3>
            <div>
              <h5><a class="back-page" (click)="backNavigation()"><i class="fa-solid fa-chevron-left"></i></a> <span class="text-dark"> Featured Products</span></h5>
            </div>
          </h3>
        </div>
      </div>
      <div class="card-status" *ngIf="createdBy!=0">
        <a href="/MyCart/{{createdBy}}/{{HubId}}">
          <span class="card-count">{{mycart?.length ? mycart?.length : 0 }}</span>
          <img src="/assets/img/icons/shopping-cart.svg" alt="search" />
        </a>
      </div>
    </div>
    <!-- COMMON SEARCH BOX -->
    <div class="common-search-box">
      <div class="common-search-input" style="background-color: #f2f8f9 ;">
        <form (ngSubmit)="search()" style="background-color: #f2f8f9 ;">
          <img src="/assets/img/icons/search.png" class="search-icon" alt="search" />
          <input type="text" placeholder="Search" name="searchValue" id="searchValue" [(ngModel)]="searchValue" />
        </form>
        <div style="display: none;">{{transcript$ | async}}</div>
      </div>
    </div>
 </div>

 <div class="page-common-wrapper">
      <div class="common-custom-slider without-scroll row">
        <div class="col-md-4 col-6 col-lg-2" *ngFor="let item of feature;let i=index">
          <div class="common-card-box">
            <div class="special-offer-badge" *ngIf="item.offers?.length == 1"><span>{{(((item.manufracture-item.sellingPrice)/item.manufracture)*100) | number : '1.0-0'}}% OFF</span></div>
            <!-- AB0069 start -->
            <a class="added-wish-list {{item.isWishlisted}}" href="javascript:void(0)">
              <i *ngIf='item.isWishlisted == "false"' class='fa-regular fa-heart' style='font-size:20px'
                (click)="addedWishlist(item)"></i>
              <i *ngIf='item.isWishlisted == "true"' class='fa-solid fa-heart' style='font-size:20px ;color: red'
                (click)="removeWishlist(item.wishlistId)"></i>
            </a>
            <!-- AB0069 End -->
          <div class="top-img">
              <div class="card-img">
                <a class="category-card"
                  href="Main-Category/SubCategory/Category/Products/{{item.itemId}}/{{item.mainCategory}}/{{createdBy}}/{{HubId}}/asc/0/0">
                  <img src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/Product-image/{{item.itemId}}_0.png" alt="item" />
                </a>
              </div>
          </div>
         <div class="card-bottom">
          <div class="card-content">
            <div class="add-cart">
              <h3>{{item.pluName}}</h3>
              <p>{{selectedlanguage =='Arabic (عربي)' ?'﷼.':'₹'}} {{item.sellingPrice}} <span class="offer-amount" *ngIf="item.offers?.length == 1">{{item.manufracture}}</span></p>
              <!-- <p *ngIf="item?.stockQty < 10 && item?.stockQty != 0" class="fw-bold" style="font-size: 12px;color: #797979; margin: 0;">
               {{selectedlanguage=='Arabic (عربي)'?'مخزون محدود':'Limited Stock'}}
              </p> -->
              <a *ngIf="item.isInCart == 'false' && (item.relation != 1 || item.stockQty!=0)" class="add-cart-bttn" (click)="addToCart(item)">{{selectedlanguage
                =='Arabic (عربي)'?'أضف إلى السلة':'Add to Bag'}}</a>
              <p *ngIf="item.stockQty == 0 && item.relation==1" class="text-danger">
                {{selectedlanguage=='Arabic (عربي)'?'إنتهى من المخزن':'Out Of Stock'}}
              </p>
              <a *ngIf="item.isInCart == 'true' && item.relation != 1" class="add-cart-bttn added-bttn"
                (click)="addToCart(item)"> {{selectedlanguage =='Arabic (عربي)'?'مضاف':'Added'}} <i
                  class="fa-solid fa-pen-to-square"></i></a>

              <div class="add-cart-box" *ngIf="item.isInCart == 'true' && item.relation == 1 && item.stockQty !=0">
                <div *ngFor="let cart of mycart">
                  <div class="product-qty" *ngIf="item.itemId == cart.itemId">
                    <span class="minus" (click)="handleMinus(cart)"><i class="fa-solid fa-minus"></i></span>
                    <input type="number" class="count" id="{{cart.id + '_productId'}}"   min="0" oninput="this.value =!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : ''" value="{{cart.quantity?cart.quantity:1}}" (keyup)="onInputUpdateqty(cart,$event.target)" />
                    <span class="plus" (click)="handlePlus(cart)"><i class="fa-solid fa-plus"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
  <div class="select-variant" [ngClass]="{ 'product-variant': variantView }">
    <div class="variant-header">
      <h2>{{selectedlanguage =='Arabic (عربي)' ?'اختر واحدة':'Choose One'}}</h2>
      <a (click)="closeVariant()"><i class="fa-solid fa-xmark"></i></a>
    </div>
    <div class="variant-body">
      <div class="variant-product">
        <div class="img">
          <img src="{{displayImg}}" alt="product" />
        </div>
        <div>
          <h5>{{ itemName }}</h5>
          <h4>{{selectedlanguage =='Arabic (عربي)' ?'﷼.':'₹'}} {{ selectedPrice }}</h4>
        </div>
      </div>
      <div class="variants-details">
        <h2>{{selectedlanguage =='Arabic (عربي)' ?'المتغيرات:':'Variants:'}}</h2>
        <div class="variants-details-wrapper">
          <div class="variants-card" *ngFor="let v of cartlist?.pricelist;let i=index;">
            <div class="variants-item circle" (click)="varientChange(v.sellingPrice, v.priceId,i, v.itemId,v.stockQty)" [ngClass]="{ active: v.sellingPrice == selectedPrice }">
              <i class="fa-solid fa-circle-check active-check" *ngIf="v.ishubMap == 'true'"></i>
              <div class="variant-name"  *ngIf="!v.displayWithImg">{{ v.size }} {{ (v.measurement =='NOVAR' || 'Ut') ? '' : v.measurement }}
              </div>
              <img  *ngIf="v.displayWithImg" src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/Product-image/{{v.itemId}}_0.png" onerror="this.onerror=null; this.src='assets/img/category/no-image.png'"
                  alt="variants">
            </div>
            <h3>{{ v.size }}</h3>
            <div class="continue-bttn">
              <div class="continue-bttn-divide">
                <button type="button" class="btn btn-dark w-100" (click)="continueProduct()"
                  *ngIf="v.ishubMap == 'false' && v.priceId == selectedSize  && !isProductOutOfStock">{{selectedlanguage =='Arabic (عربي)'
                  ?'أضف إلى السلة':'Add to Bag'}}</button>
                <div *ngFor="let cart of mycart">
                  <div class="product-qty" *ngIf="v.ishubMap == 'true' && cart.pattern == selectedSize  && !isProductOutOfStock">
                    <span class="minus" (click)="handleMinus(cart)"><i class="fa-solid fa-minus"></i></span>
                    <input type="number" class="count" id="{{cart.id + '_productId'}}" value="{{cart.quantity?cart.quantity:1}}"  (keyup)="onInputUpdateqty(cart,$event.target)" min="0" oninput="this.value =!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : ''"/>
                    <span class="plus" (click)="handlePlus(cart)"><i class="fa-solid fa-plus"></i></span>
                  </div>
                </div>
                  <p *ngIf="isProductOutOfStock" class="text-danger">
                    {{selectedlanguage=='Arabic (عربي)'?'إنتهى من المخزن':'Out Of Stock'}}
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
