.my-order-section {
    padding-bottom: 50px;
    overflow-y: auto;
    // width: 480px;
    // margin: 0 auto;
    // height: 100%;
    // box-shadow: 0 10px 20px rgb(167 167 167 / 19%), 0 6px 6px rgb(131 131 131 / 23%);

    /* USER TITLE */
    .user-title {
        display: flex;
        align-items: center;
        padding: 20px;
        position: sticky;
        top: 0;
        justify-content: space-between;
        background-color: #F5F5F5;


        .title {
            a {
                color: #00525b;
                font-size: 16px;
                font-weight: 700;
                text-decoration: none;

                img {
                    width: 10px;
                    margin-right: 10px;
                }
            }
        }

    }

   /* COMMON SEARCH BOX*/
   .common-search-box {
    margin-top: 20px;
    position: sticky;
    top: 95px;
    z-index: 99;
    background-color: #F5F5F5;

    .common-search-input {
        position: relative;

        .mike-icon {
            top: 50%;
            right: 20px;
            position: absolute;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
        }

        input {
            color: #00525b;
            width: 100%;
            height: 56px;
            background-color: #ffffff;
            border-radius: 25px;
            font-size: 14px;
            border: 0;
            padding: 0 50px;
            box-sizing: border-box;
            &::placeholder {
                color: #5B5858;
                font-size: 14px;
            }
    }

    .search-icon {
        top: 50%;
        left: 20px;
        position: absolute;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }

    }
}

    /* MY ORDER WRAPPER */
    .my-order-wrapper {
        padding: 10px;
        .my-order-list {
          position: relative;
          margin-bottom: 10px;
          background-color: #ffffff;
          border: 1px solid #EBEBEB;
          border-radius: 10px;
          padding: 0 20px;
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);

            .my-order-list-header {
              padding: 15px 0;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-bottom: 1px dashed #E3E3E3;

              span {
                color: #111111;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
              }
            }

            .my-order-list-body {
              position: relative;
              .content {
                padding: 20px 0px;
                .top {
                  h3 {
                    color: #111111;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                  }
                }
                .top-cancelled{
                  h3 {
                    color: #EB2A2A;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                  }
                }
                .middle {
                  margin-top: 15px;
                  h4 {
                    color: #666666;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    b{
                      color: #111111;
                    }
                  }
                }
                .bottom {
                  display: flex;
                  margin-top: 15px;
                  align-items: center;
                  justify-content: space-between;
                  .details-view {
                    color: #111111;
                    font-size: 14px;
                    line-height: 21px;
                    padding: 8px 24px;
                    background: #FFFFFF;
                    border: 1px solid #D9D9D9;
                    border-radius: 25px;
                    display: inline-block;
                  }

                  h5 {
                    color: #1F74EA;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    i {
                      margin-right: 5px;
                      vertical-align: middle;
                    }
                    &.green {
                      color: #359857;
                    }
                    &.red {
                      color: #EB2A2A;
                    }
                    &.orange {
                      color: #ffa500;
                    }
                    &.yellow {
                      color: #967410d8;
                    }

                    a {

                        color: #00525b;
                        font-size: 12px;
                        padding: 4px 10px;
                        text-decoration: none;
                        border-radius: 25px;
                        border: 1px solid #00525b;
                        &.re-order {
                            color: #1376D0;
                            margin-left: 10px;
                            border-color: #1376D0;
                        }
                    }
                }

                  }
                }
              }
            }


            &:last-child {
                margin-bottom: 0;
            }
            // .first {
            //     flex: 30% 0;
            //     display: flex;
            //     align-items: center;
            //     position: relative;
            //     justify-content: center;

            //     .img {
            //         height: 60px;
            //         padding: 10px;
            //         img {
            //             width: 100%;
            //             height: 100%;
            //             object-fit: contain;
            //         }
            //     }

            //     span {
            //         color: #00525b;
            //         font-size: 20px;
            //         font-weight: 500;
            //     }
            // }

            // .second {
            //     flex: 70% 0;
            //     position: relative;
            //     .content {
            //         padding-left: 10px;
            //         h3 {
            //             color: #00525b;
            //             font-weight: 500;
            //             font-size: 12px;
            //             line-height: 18px;
            //             margin-bottom: 5px;
            //             word-break: break-word;
            //             &.cancel {
            //                 color: #EB2A2A;
            //             }
            //         }

            //         h4 {
            //             color: #00525b;
            //             font-size: 12px;
            //             margin-bottom: 8px;
            //             word-break: break-word;
            //         }

            //         .rounded-pill-wrapper {
            //           display: flex;
            //           align-items: center;
            //           justify-content: space-between;
            //           .rounded-pill {
            //             color: #00525b;
            //             font-size: 12px;
            //             padding: 3px 6px;
            //             text-decoration: none;
            //             border-radius: 25px;
            //             border: 1px solid #000000;
            //             &.re-order {
            //                 color: #1376D0;
            //                 margin-left: 10px;
            //                 border-color: #1376D0;
            //             }
            //         }
            //         }

            //     }
            // }

            .order-details-page {
                color: #101010;
                margin-right: 10px;
            }
      }
}

/* TABLET VIEW MEDIA QUERY */
@media only screen and (max-width: 768px) {
    .my-order-section {
        width: 100%;
        box-shadow: none;
    }
}

@media only screen and (max-width: 1024px) {
    .my-order-section {
        width: 100%;
        box-shadow: none;
    }
}

/* MOBILE VIEW MEDIA QUERY */
@media only screen and (max-width: 480px) {
    .my-order-section {
        width: 100%;
        box-shadow: none
    }
}
