.order-details-section {
    overflow-y: auto;
    height: 100%;
    padding-bottom: 100px;
    // width: 480px;
    // margin: 0 auto;
    // box-shadow: 0 10px 20px rgb(167 167 167 / 19%), 0 6px 6px rgb(131 131 131 / 23%);

    /* ORDER ID VIEW */
    .order-id-view {
        padding: 20px;
        border-top: 1px solid #f1f1f1;
        background-color: #ffffff;

        h6 {
            color: #00525b;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
    }

    /* ORDER ITEMS WRAPPER */
    .order-items-wrapper {
        margin: 20px 0;
        padding: 20px;
        background-color: #ffffff;

        .title {
            display: flex;
            align-items: center;
            padding: 0 0 15px 0;
            justify-content: space-between;

            h3 {
                color: #00525b;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;

            }

            a {
                color: #375BDB;
                font-size: 12px;
            }
        }

        ul {
            li {
                display: flex;
                padding: 10px 0;
                align-items: flex-start;
                position: relative;
                border-bottom: 1px solid rgb(235 235 235 / 80%);

                &:last-child {
                    border-bottom: 0;
                }

                .product-list-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 90%;

                    .product-list-img {
                        .img {
                            width: 60px;
                            height: 60px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .product-list-details {
                        margin-right: 5px;
                        h4 {
                            color: #00525b;
                            font-size: 12px;
                            word-break: break-word;
                            line-height: 18px;
                        }

                        p,
                        h6 {
                            font-size: 14px;
                            line-height: 21px;
                            font-weight: 500;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        h6 {
                            font-size: 12px;
                        }
                    }
                }

                .qty-view {
                    color: #ffffff;
                    font-size: 12px;
                    background-color: #222222;
                    border-radius: 50%;
                    text-align: center;
                    padding: 3px 9px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                }
            }
        }

        // .order-items-box {
        //     text-align: center;
        //     .top {
        //         img {
        //             width: 60px;
        //             height: 60px;
        //             img {
        //                 width: 100%;
        //                 height: 100%;
        //                 object-fit: cover;
        //             }
        //         }
        //     }

        //     .bottom {
        //         padding-top: 10px;
        //         h4 {
        //             color: #00525b;
        //             font-size: 12px;
        //             word-break: break-word;
        //         }
        //     }
        // }
    }

    /* TRACK ORDER WRAPPER */
    .track-order-wrapper {
        background-color: #ffffff;

        .title {
            display: flex;
            padding: 15px 20px;
            align-items: center;
            justify-content: space-between;

            h3 {
                color: #00525b;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }

            i {
                color: #101010;
            }
        }

        .track-order-body {
            .order-track {
                display: flex;
                flex-direction: column;
                margin: 0 25px 20px 22px;
                padding: 0 0 18px 0;

                .order-track-step {
                    display: flex;
                    height: 4rem;
                    padding: 0 20px;
                    position: relative;

                    .order-track-status {
                        margin-right: 10px;
                        position: relative;

                        .order-track-status-dot {
                            color: #ffffff;
                            display: flex;
                            width: 10px;
                            height: 10px;
                            margin-top: 1.3rem;
                            border-radius: 50%;
                            align-items: center;
                            justify-content: center;
                            background-color: #B4B4B4;
                        }

                        .order-track-status-line {
                            display: block;
                            margin: 0 auto;
                            width: 2px;
                            height: 4rem;
                            background-color: #B4B4B4;
                        }


                    }

                    .order-track-text {
                        padding: 1rem 0;

                        .order-track-text-stat {
                            color: #00525b;
                            font-size: 12px;
                            font-weight: 500;

                            b {
                                color: #00525b;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 21px;
                            }
                        }

                        .order-track-text-sub {
                            color: #00525b;
                            font-size: 12px;
                            font-weight: 400;
                        }

                    }

                    .call-now-bttn {
                        color: #ffffff;
                        font-size: 12px;
                        right: 10px;
                        position: absolute;
                        top: 1.5rem;
                        background-color: #27BA50;
                        border-radius: 25px;
                        padding: 8px 16px;
                    }


                    &:last-child {
                        .order-track-status {
                            .order-track-status-line {
                                display: none;
                            }
                        }
                    }

                    &.complete {
                        .order-track-status {
                            .order-track-status-dot {
                                background-color: #27BA50;
                            }
                        }
                    }

                    &.active {
                        background-color: rgba(41, 177, 71, 0.2);
                        ;

                        .order-track-status {
                            .order-track-status-dot {
                                background-color: #27BA50;
                            }
                        }
                    }
                }
            }
        }
    }

    /* ORDER STATUS WRAPPER */
    .order-status-wrapper {
        padding: 20px;
        display: flex;
        margin: 20px 0;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;

        .content {
            text-align: center;
            position: relative;

            h3 {
                color: #00525b;
                font-size: 12px;
                font-weight: 600;
            }

            h6 {
                color: #00525b;
                font-size: 12px;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: -1.5rem;
                width: 1px;
                background-color: #D9D9D9;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }

    /* PAYMENT DETAILS */
    .payment-details-wrapper {
        padding: 20px;
        background-color: #ffffff;

        h3 {
            color: #00525b;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            i {
                font-size: 16px;
                margin-right: 5px;
            }
        }

        .payment-mode-status {
            display: flex;
            justify-content: space-between;
            margin: 12px 28px;

            h6 {
                color: #00525b;
                font-size: 12px;
                font-weight: 600;
            }

            h4 {
                color: #00525b;
                font-size: 12px;
            }
        }

    }

    /* ORDER SHIPPING DELIVERY */
    .order-shipping-delivery {
        background-color: #ffffff;
        padding: 20px;
        margin-top: 20px;

        h3 {
            color: #00525b;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            i {
                font-size: 14px;
                margin-right: 5px;
            }
        }

        p {
            color: #00525b;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            margin: 10px 25px;
        }
    }

    /* PRODUCT DETAILS */
    .product-details {
        padding: 20px;
        margin-top: 20px;
        background-color: #ffffff;

        h3 {
            color: #00525b;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            i {
                font-size: 14px;
                margin-right: 5px;
            }
        }

        ul {
            margin: 10px 25px;

            li {
                display: flex;
                align-items: center;
                margin-bottom: 12px;
                justify-content: space-between;

                &:last-child {
                    margin-bottom: 0;
                }

                span {
                    color: #101010;
                    font-weight: 400;
                    font-size: 12px;
                }

                b {
                    font-size: 14px;
                }

                &.total {
                    padding: 12px 0;
                    border-top: 1px dashed #E1E1E1;
                    border-bottom: 1px dashed #E1E1E1;

                    span {
                        font-weight: 500;
                    }

                    .Inc-tax {
                        font-size: 11px;
                        color: #999999
                    }
                }

                &.your-save {
                    span {
                        color: #14A934;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    /* ORDER DETAILS BOTTOM */
    .order-details-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 80px;
        background-color: #ffffff;

        .order-bottom-bttn {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                width: 48%;
                height: 48px;
                font-size: 14px;
            }
        }
    }

}

.common-modal-md {
    .modal-header {
        h5 {
            font-size: 14px;
        }
    }

    .modal-body {
        .content {
            h3 {
                color: #00525b;
                font-weight: 500;
                font-size: 16px;
            }

            p {
                color: #666666;
                font-size: 14px;
                margin-top: 20px;
            }
        }
    }

    .modal-footer {
        button {
            font-size: 14px;
        }
    }
}

/* TABLET VIEW MEDIA QUERY */
@media only screen and (max-width: 768px) {
    .order-details-section {
        box-shadow: none;

        .order-details-bottom {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .order-details-section {
        width: 100%;
        box-shadow: none;
    }
}

/* MOBILE VIEW MEDIA QUERY */
@media only screen and (max-width: 480px) {
    .order-details-section {
        box-shadow: none;
        width: 100%;
        height: auto;
    }
}