<section class="set-password-section">
    <!-- BACK TO PAGE -->
    <div class="back-top-page">
        <a routerLink="/Setting/EditProfile">
            <img src="/assets/img/icons/back-arrow.svg" alt="arrow" />
            <span>Set Password</span>
        </a>
    </div>

    <div class="edit-profile-status-wrapper">
        <div class="user-details">
            <h6>Mobile Number</h6>
            <h3>+00 3426689992</h3>
        </div>

        <div class="edit-profile-form">
            <div class="form-group mb-3">
                <input type="password" name="oldPassword" class="form-control" placeholder="Enter Old password" required />  
            </div>
            <div class="form-group mb-3">
                <input type="password" name="newPassword" class="form-control" placeholder="Enter new password" required />  
            </div>
            <div class="form-group mb-5">
                <input type="password" name="reEnterPassword" class="form-control" placeholder="Re-enter new password" required />  
            </div>

            <div class="form-group mb-3">
                <h6>Enter OTP send to <b>+00342668999</b></h6>
                <a href="javascript:void(0)" class="resend">Resend</a>
                <input type="text" name="otp" class="form-control" placeholder="OTP" required />  
            </div>

            <div class="form-group text-right">
                <button type="button" class="btn btn-outline-dark">Cancel</button>
                <button type="button" class="btn btn-dark" (click)="showDialog()">Save</button>
            </div>
        </div>
    </div>
</section>


<!-- PASSWORD RESET MODAL -->
<div class="modal fade show" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngStyle]="PasswordSetMd">
    <div class="modal-dialog modal-dialog-centered modal-box" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Password Reset</h5>
          <button type="button" class="btn btn-default close" data-dismiss="modal" aria-label="Close" (click)="closemd()">
            <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="password-reset-content">
            <p>Are you sure you want to apply the changes?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closemd()">Cancel</button>
          <button type="button" class="btn btn-danger">YES</button>
        </div>
      </div>
    </div>
  </div>