.set-password-section {
    padding-bottom: 50px;
    height: 100%;

    .edit-profile-status-wrapper {
        padding: 20px;
        .user-details {
            margin-bottom: 20px;
            h6 {
                color: #00525b;
                font-size: 12px;
                line-height: 21px;
            }
            h3 {
                color: #00525b;
                font-size: 16px;
                font-weight: 500;
                line-height: 27px;
            }
        }

        .edit-profile-form {
            .form-group {
                position: relative;
                h6 {
                    color: #00525b;
                    font-size: 14px;
                    margin-bottom: 20px;
                }
                .resend {
                    color: #036CCC;
                    position: absolute;
                    right: 1rem;
                    top: 3.4rem;
                    font-size: 12px;
                    font-weight: 500;
                }

                .btn {
                    width: 120px;
                    font-size: 12px;
                }

                .btn-outline-dark {
                    margin-right: 10px;
                }
            }


        }

    }

}

.modal-box {
    .password-reset-content {
        p {
            color: #00525b;
            font-size: 16px;
            font-weight: 500;
        }
    }

    .modal-footer {
        .btn {
            font-size: 14px;
            padding: 6px 20px;
        }
    }
}

/* TABLET VIEW MEDIA QUERY */
@media only screen and (max-width: 768px) {
    .set-password-section {
        width: 100%;
        box-shadow: none;
    }
}

@media only screen and (max-width: 1024px) { 
    .set-password-section {
        width: 100%;
        box-shadow: none;
    }
}

/* MOBILE VIEW MEDIA QUERY */
@media only screen and (max-width: 480px) {
    .set-password-section {
        width: 100%;
        box-shadow: none
    }
}

