.privacy-policy-section {
  .page-wrapper {
      padding: 20px;

      h2 {
          color: #1a1a1a;
          font-weight: 500;
          font-size: 1.5rem;
          margin-bottom: 20px;
      }

      p {
          color: #1a1a1a;
          font-size: 14px;
          line-height: 1.4rem;
          margin-bottom: 20px;

          &:last-child {
              margin-bottom: 0;
          }
      }

      .pointer {
          margin-top: 50px;

          h3 {
              margin-bottom: 20px;
          }
      }

      h4 {
          color: #00525b;
          font-weight: 500;
          font-size: 14px;
          margin-top: 50px;
      }
  }
}


/* TABLET VIEW MEDIA QUERY */
@media only screen and (max-width: 768px) {
  .privacy-policy-section {
      width: 100%;
      box-shadow: none;
  }
}

@media only screen and (max-width: 1024px) {
  .privacy-policy-section {
      width: 100%;
      box-shadow: none;
  }
}

@media only screen and (max-width: 480px) {
  .privacy-policy-section {
      width: 100%;
      box-shadow: none;
  }
}
