<section class="offers-list-section {{selectedlanguage =='Arabic (عربي)' ? 'left-to-right':''}}" [ngClass]="{'modal-patch': modalPatch }">
    <div class="user-title">
        <div class="title"><a href="javascript:void(0)"><i class="fa-solid fa-chevron-left"></i> Offers</a></div>
    </div>

    <div class="offers-list-content">
            <div class="offers-list-content-header">
                 <h3>Live Offers</h3>
            </div>
            <ul class="offers-list">
                <li>
                    <a class="content" href="/offers/bundle-offer/{{createdby}}/{{HubId}}">
                        <h5><img src="/assets/img/icons/offer-percentage.svg" /> Free Items on Bill Amount</h5>
                        <h3>Wall-to-Wall Sale</h3>
                        <p>adjective. If you describe a tune, name, or advertisement as catchy, you mean that it is attractive and easy to remember.</p>

                        <i class="fa-solid fa-chevron-right go-arrow"></i>
                    </a>
                </li>

                <li>
                    <a class="content" href="/offers/bulk-offer/{{createdby}}/{{HubId}}">
                        <h5><img src="/assets/img/icons/offer-percentage.svg" /> Bulk Offer</h5>
                        <h3>Mystery Offer</h3>
                        <p>adjective. If you describe a tune, name, or advertisement as catchy, you mean that it is attractive and easy to remember.</p>
                        <i class="fa-solid fa-chevron-right go-arrow"></i>
                    </a>
                </li>

                <li>
                    <a class="content" href="/offers/baga-offer/{{createdby}}/{{HubId}}">
                        <h5><img src="/assets/img/icons/offer-percentage.svg" /> Buy Any Get Any</h5>
                        <h3>BAGA Offers</h3>
                        <p>adjective. If you describe a tune, name, or advertisement as catchy, you mean that it is attractive and easy to remember.</p>
                        <i class="fa-solid fa-chevron-right go-arrow"></i>
                    </a>
                </li>
            </ul>
    </div>
</section>
