.offers-list-section {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 50px;
    .user-title {
        top: -1px;
        padding: 20px;
        display: flex;
        position: sticky;
        align-items: center;
        background-color: #ffffff;
        justify-content: space-between;
        box-shadow: rgba(149, 157, 165, 0.2) 1px 8px 24px;
        a {
            color: #00525b;
        }
    }

    .offers-list-content {
        .offers-list-content-header {
            padding: 20px;
            h2 {
                color: #222;
                font-size: 18px;
                font-weight: 600;
            }
        }

        .offers-list {
            li {
                display: block;
                padding: 20px;
                background-color: #ffffff;
                border-bottom: 1px solid #E7E7E7;
                &:last-child {
                    border-bottom: 0;
                }
                .content {
                    display: block;
                    position: relative;
                    padding-right: 25px;
                    h5 {
                        color: #9E0000;
                        font-size: 12px;
                        font-weight: 500;
                    }

                    h3 {
                        color: #000;
                        font-size: 16px;
                        font-weight: 500;
                    }

                    p {
                        color: #222;
                        font-size: 12px;
                        font-weight: 400;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    .go-arrow {
                        color: #00525b;
                        right: 0;
                        top: 50%;
                        padding: 5px;
                        font-size: 16px;
                        position: absolute;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                    }
                }
            }
        }
    }
}

/* TABLET VIEW MEDIA QUERY */
@media only screen and (max-width: 768px) {
    .offers-list-section {
        width: 100%;
        box-shadow: none;
    }
}

@media only screen and (max-width: 1024px) {
    .offers-list-section {
        width: 100%;
        box-shadow: none;
    }
}

/* MOBILE VIEW MEDIA QUERY */
@media only screen and (max-width: 480px) {
    .offers-list-section {
        width: 100%;
        box-shadow: none
    }
}